@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // var foo = new IndexModel().Foo;
    var name = ViewData["Name"] as string;
    var age = (int)ViewData["Age"]!;
}
@functions{
    string message(string str){
        return str.ToUpper();
    }
}

<div class="text-center my-class">
    @* <h1 class="display-4">Welcome</h1>
    <p>@message("salam")</p>
    <p>@foo("ala bula boz kechi")</p> *@
    @if(name is not null)
    {
        <p>Name: @name</p>
        <p>Age: @age</p>
    }
    else
    {
        <p>Name: @string.Empty</p>
        <p>Age:0</p>
    }

</div>
